
.login_wrapper {
	width: 400px;
	margin-right: auto;
	margin-left: auto;
	background: #CCCCCC;
	border: 1px solid #999999;
	padding: 10px;
	font: 12px 'lucida grande',tahoma,verdana,arial,sans-serif;
}

.login_wrapper .panel input{
	padding: 2px 2px 2px 5px;
}

